---

- name: Welcome onboard!
  debug:
    msg: We are about to start configuring Drupal Dockerizer on {{ ansible_host }}. Now will start checking if everything is OK.

- name: Set default failed message
  set_fact: preflight__failed_message=""

- include: preflight/docker-group.yml
- include: preflight/network.yml
