{% if ssl_enabled %}
<VirtualHost *:443>
    ServerAdmin webmaster@localhost
    DocumentRoot "/var/www/{{ drupal_web_root }}"
    ServerName {{ domain_name }}
    SSLEngine on
    SSLCertificateFile /etc/apache2/cert.pem
    SSLCertificateKeyFile /etc/apache2/pivate.key
	<Directory "/var/www/{{ drupal_web_root }}/">
		Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
	</Directory>
</VirtualHost>
{% endif %}
<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot "/var/www/{{ drupal_web_root }}"
    ServerName {{ domain_name }}

	<Directory "/var/www/{{ drupal_web_root }}/">
		Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
	</Directory>
</VirtualHost>
