FROM mariadb

COPY mysql-healthcheck /usr/local/bin/

{% if user_uid != 0 %}
ARG USER_UID={{ user_uid }}
ARG USER_GID={{ user_gid }}
RUN groupmod --gid $USER_GID mysql && usermod --uid $USER_UID --gid $USER_GID mysql
{% endif %}
