FROM {{ php_image }}

USER root

# Create dockerizer user
ARG USER_UID={{ user_uid }}
ARG USER_GID={{ user_gid }}
RUN useradd -ms /bin/bash dockerizer
RUN groupmod --gid $USER_GID dockerizer && usermod --uid $USER_UID --gid $USER_GID dockerizer

RUN chmod +x /usr/local/bin/docker-php-entrypoint

RUN chown -R dockerizer:dockerizer /var/www

RUN echo dockerizer ALL=\(root\) NOPASSWD:ALL > /etc/sudoers.d/dockerizer
RUN chmod 0440 /etc/sudoers.d/dockerizer

ENV APACHE_RUN_USER dockerizer
ENV APACHE_RUN_GROUP dockerizer

# Set php memory limit
RUN echo "memory_limit = {{ php_memory_limit }}" >> /usr/local/etc/php/conf.d/memory_limit.ini

# Enable apcu in cofig
RUN echo "apc.enable=1" >> /usr/local/etc/php/conf.d/docker-php-ext-apcu.ini

{% if xdebug_install %}
# Install xdebug
RUN pecl install xdebug-{{ xdebug_version }}
RUN docker-php-ext-enable xdebug
{% endif %}

{% if drush_version == 8 %}
RUN sudo curl -fsSL -o /usr/local/bin/drush "https://github.com/drush-ops/drush/releases/download/8.4.1/drush.phar" && \
  sudo chmod +x /usr/local/bin/drush
{% else %}
RUN sudo curl -fsSL -o /usr/local/bin/drush "https://github.com/drush-ops/drush-launcher/releases/latest/download/drush.phar" && \
  sudo chmod +x /usr/local/bin/drush
{% endif %}

USER dockerizer

{% if node_install %}
# Install nvm
# @see https://github.com/nvm-sh/nvm/blob/master/Dockerfile.
# Set default shell for build to bash.
SHELL ["/bin/bash", "-o", "pipefail", "-c"]

ENV NODE_VERSION {{node_version}}

ENV NVM_DIR /home/dockerizer/.nvm

# Clone nvm repository.
RUN git clone --depth 1 --branch v{{ nvm_version }} https://github.com/nvm-sh/nvm.git /home/dockerizer/.nvm

# Configure nvm.
RUN echo 'export NVM_DIR="$HOME/.nvm"'                                       >> "$HOME/.bashrc"
RUN echo '[ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"  # This loads nvm' >> "$HOME/.bashrc"
RUN echo '[ -s "$NVM_DIR/bash_completion" ] && . "$NVM_DIR/bash_completion" # This loads nvm bash_completion' >> "$HOME/.bashrc"

# nodejs and tools
RUN bash -c 'source $HOME/.nvm/nvm.sh   && \
    nvm install $NODE_VERSION && \
    npm install --prefix "$HOME/.nvm/"'
{% endif %}
