FROM {{ php_image }}

USER root

# Set php memory limit
RUN echo "memory_limit = {{ php_memory_limit }}" >> /usr/local/etc/php/conf.d/memory_limit.ini

# Enable apcu in cofig
RUN echo "apc.enable=1" >> /usr/local/etc/php/conf.d/docker-php-ext-apcu.ini

{% if xdebug_install %}
# Install xdebug
RUN pecl install xdebug-2.8.0
RUN docker-php-ext-enable xdebug
{% endif %}

ARG USER_UID={{ user_uid }}
ARG USER_GID={{ user_gid }}
RUN groupmod --gid $USER_GID dockerizer && usermod --uid $USER_UID --gid $USER_GID dockerizer
RUN chown -R dockerizer:dockerizer /var/www

{% if drush_version == 8 %}
RUN sudo curl -fsSL -o /usr/local/bin/drush "https://github.com/drush-ops/drush/releases/download/8.4.1/drush.phar" && \
  sudo chmod +x /usr/local/bin/drush
{% else %}
RUN sudo curl -fsSL -o /usr/local/bin/drush "https://github.com/drush-ops/drush-launcher/releases/latest/download/drush.phar" && \
  sudo chmod +x /usr/local/bin/drush
{% endif %}

USER dockerizer

