FROM jetdevteam/drupal-php-apache:{{ phpversion }}

{% if user_uid == 0 %}
USER root
{% else %}
USER root
ARG USER_UID={{ user_uid }}
ARG USER_GID=$USER_UID
RUN groupmod --gid $USER_GID dockerizer && usermod --uid $USER_UID --gid $USER_GID dockerizer
USER dockerizer
{% endif %}

{% if drush_version == 8 %}
RUN sudo curl -fsSL -o /usr/local/bin/drush "https://github.com/drush-ops/drush/releases/download/8.4.1/drush.phar" && \
  sudo chmod +x /usr/local/bin/drush
{% else %}
RUN sudo curl -fsSL -o /usr/local/bin/drush "https://github.com/drush-ops/drush-launcher/releases/latest/download/drush.phar" && \
  sudo chmod +x /usr/local/bin/drush
{% endif %}
