FROM solr:{{ solr_version }}

# Case for solr version 5-7
RUN mkdir -p /opt/solr/server/solr/{{ solr_core_name }}
COPY conf /opt/solr/server/solr/{{ solr_core_name }}/conf
COPY core.properties /opt/solr/server/solr/{{ solr_core_name }}/core.properties
