name: Check basic functionality

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    - name: Cache Composer dependencies for improve speed
      uses: actions/cache@v2
      with:
        path: /tmp/composer-cache
        key: ${{ runner.os }}-${{ hashFiles('**/composer.lock') }}

    - name: Get Drupal Project repository
      uses: actions/checkout@v2
      with:
        repository: 'drupal/recommended-project'
        path: './'
        ref: '9.2.x'

    - name: Run Composer install
      uses: php-actions/composer@v5
      with:
        command: install --ignore-platform-reqs

    - name: Fix files permission after php-actions/composer@v5
      run: sudo chown -R $(id -u):$(id -g) *

    - name: Get Drupal Dockerizer repository
      uses: actions/checkout@v2
      with:
        path: '.drupal-dockerizer'

    - name: Create basic dockerizer.yml
      run: |
        echo "---" > dockerizer.yml
        echo "" >> dockerizer.yml
        echo "compose_project_name: drupal-project" >> dockerizer.yml
        echo "user_uid: $(id -u)" >> dockerizer.yml
        echo "user_gid: $(id -g)" >> dockerizer.yml
        echo "drupal_root_dir: $GITHUB_WORKSPACE" >> dockerizer.yml

    - name: Run main playbook
      uses: dawidd6/action-ansible-playbook@v2
      with:
        playbook: main.yml
        directory: .drupal-dockerizer
        options: |
          --verbose

    - name: Run drush-commands playbook
      uses: dawidd6/action-ansible-playbook@v2
      with:
        playbook: drush-commands.yml
        directory: .drupal-dockerizer
        options: |
          --verbose

    - name: Check Drupal
      run: curl http://localhost | grep "Drupal"
